body {
	background-color: rgba(0,0,0,.9);
	margin: 0;
	padding: 10px;

}

button {
	cursor: pointer;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}
.grid_item {
	overflow: hidden;
	width: 100%;
	height: 400px;
	position: relative;
}
.grid_item img {
   transform: scale(1);
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: all .2s ease-in-out;
}
.grid_item .info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0,0,0,.5);
	bottom:0;
	position: absolute;
	transition: all .2s ease-in-out;
}
.grid_item:hover .info {
	
	visibility: visible;
	height: 100%;
	opacity: 1;
}
.grid_item:hover .mainimg {
transform: scale(1.2);
}
.author {

	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.author .author_photo {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

span.username {
	color: #fff;
	padding: 10px;
	font-size: 26px;
}

.pagination {
	margin: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.pagination__left button, .pagination__right button, .pagination__mid button{
	display: block;
	background-color: #222;
	padding: 10px 20px;
	border: 2px solid transparent;
	transition: all .4s ease-in-out;
}
.pagination__left button, .pagination__right button,.pagination__mid button {
	color: #fff;
	text-decoration: none;
}

.pagination__left button:hover, .pagination__right button:hover,.pagination__mid button:hover {
	background-color: #fff;
	color: #222;
	border: 2px solid #222;
}

.pagination__mid {
	display: flex;
}
button.current {
	background-color: rgba(255,255,255,.6);
}